<div class="body">
    <div class="get-started">
      <p>Log in</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" >
          <mat-label>E-mail</mat-label>
          <input matInput  placeholder="E-mail" type="text" formControlName="login" >
        </mat-form-field>
        <mat-error *ngIf="emailError != ''">{{emailError}}</mat-error>
  
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password" >
        </mat-form-field>
        <mat-error *ngIf="passwordError != ''">{{passwordError}}</mat-error>
  
        <input type="submit" value="Login" class="login-btn">
        <!-- <input (click)="back()" value="Back" class="login-btn"> -->
        
        <!-- <mat-error *ngIf="submitted && loginError">{{ loginError }}</mat-error> -->
      </form>
    </div>
</div>
  