SERVER_PORT=2020 #The port on which the server is running
SESSION_TIME_IN_M=10


USE_SSL=true
SSL_DIR=path to dir with ssl key
SSL_KEY=file name with key
SSL_CERT=file name with ssl cert
SSL_CA_CERTS
