main {
    min-width: 100%;
    min-height: 10%;
    max-height: 15%;
    background-color: #00FF66;
    padding: 10px;
}

.header {
    margin: 5px;
    float: left;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}
